.Types {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}

.Types .type {
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #ffffff;
}

.unknown {
  background-color: #666666;
}

.Normal {
  background-color: #aaa67f;
}

.Fighting {
  background-color: #c12239;
}

.Flying {
  background-color: #a891ec;
}

.Poison {
  background-color: #a43e9e;
}

.Ground {
  background-color: #dec16b;
}

.Rock {
  background-color: #b69e31;
}

.Bug {
  background-color: #a7b723;
}

.Ghost {
  background-color: #70559b;
}

.Steel {
  background-color: #b7b9d0;
}

.Fire {
  background-color: #f57d31;
}

.Water {
  background-color: #6493eb;
}

.Grass {
  background-color: #74cb48;
}

.Electric {
  background-color: #f9cf30;
}

.Psychic {
  background-color: #fb5584;
}

.Ice {
  background-color: #9ad6df;
}

.Dragon {
  background-color: #7037ff;
}

.Dark {
  background-color: #75574c;
}

.Fairy {
  background-color: #e69eac;
}