.Pokedex {
    background-color: #DC0A2D;
    max-height: 100vh;
    color: white;
    padding: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .pokedex-header {
    display: flex;
    flex-direction: column;
    padding: .75rem .75rem 1rem .75rem;
    gap: .5rem;
  }
  
  .pokedex-content {
    background-color: #FFF;
    border-radius: .5rem;
    padding: 1rem .5rem .5rem;
    overflow-y: scroll; 
    scrollbar-width: none;
    height: 100vh;
  }
  
  .pokedex-title, .pokedex-trainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pokedex-trainer {
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }