.pokemon-screen {
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-color: #b8b8b8;
  height: 100vh;
}

.pokemon-screen .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 1.25rem;
  color: #ffffff;
}

.title .number {
  font-size: 0.75rem;
}

.pokemon-screen h1 {
  font-size: 1.5rem;
}

.pokemon-screen img {
  width: 200px;
  height: 200px;
  position: absolute;
}

.pokemon-screen .pokeball-icon {
  opacity: 0.1;
  right: 0;
  margin: 4px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.5rem;
}

.pokemon-screen .pokemon-image {
  z-index: 1;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  flex-grow: 1;
  border-radius: 0.5rem;
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
}

.info h2 {
  color: #b8b8b8;
  font-weight: bold;
}

.description {
  font-size: 0.75rem;
  text-align: justify;
  padding: 0.5rem 0;
}
