.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}

.search-bar input,
.filter {
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
}

.select {
  position: absolute;
  background-color: #fff;
  color: #DC0A2D;
  z-index: 2;
  margin-top: 3rem;
  border-radius: .5rem;
  padding: 4px 0;
  border: 1px solid rgba(146, 146, 146, 0.15);
}

.item {
  cursor: pointer;
  padding: .5rem .75rem;
}

.item:hover {
  background-color: rgba(146, 146, 146, 0.15);
}
