.App {
  background-color: #DC0A2D;
  min-height: 100vh;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.trainer-header {
  display: flex;
  flex-direction: column;
}

.trainer-header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.trainer-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.trainer-header p {
  font-size: 1rem;
  margin: 0;
}

.trainer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.trainer-title img {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.trainer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}

.trainer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.trainer-avatar {
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
  background-color: #FFF;
  margin: 1rem;
  transition: 0.3s ease-in-out;
}

.trainer-avatar img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.trainer-avatar:hover {
  transform: scale(1.2);
}